.home__carousel-container {
    width: 60vw;
    height: 100%;
}

@media screen and (max-width: 1450px) {
    .home__carousel-container {
        width: 90vw;
        border: none !important;
        background: transparent !important;
    }
}
