.home__carousel-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1450px) {
    .home__carousel-container {
        width: 90vw;
        border: none !important;
        background: transparent !important;
    }

    .milo-logo {
        margin-top: 3rem !important;
    }
}
