.settings__container {
    position: absolute;
    width: 14vw;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 90%;
    transform: translateX(-50%);
    top: 3.8rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(30px);
}

.pattern-box {
    background: transparent;
    max-width: 4.5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pattern-box img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 1450px) {
    .settings__container {
        display: none;
    }
}
